<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SeyCodes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
        }
        .navbar-nav .nav-link {
            font-size: 1.1rem;
        }
        .search-input {
            margin-right: 10px;
            width: 200px;
        }
        .img-size-fixed {
            width: 50px;
            height: auto;
        }
        .container-custom {
            background-color: #f8f9fa;
            padding: 15px;
        }
        .navbar-custom {
            background-color: #343a40;
        }
        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link {
            color: #ffffff;
        }
        .navbar-custom .nav-link:hover {
            color: #ffc107;
        }
      .welcome-text {
        font-family: 'Arial', sans-serif;
        font-size: 36px; 
        font-weight: bold; 
        color: #28527a; 
        text-shadow: 2px 2px 4px #d1d1d1; 
        text-align: center; 
        margin-top: 20px; 
      }
      .custom-img {
        width: 300px;
        height: 400px;
    }
    .navbar-text-custom {
    color: #007bff;
    font-weight: bold;
    background-color: #f8f9fa;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-text-custom:hover {
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    </style>
</head>