<div class="container-fluid container-custom">
    <div class="row align-items-center">
        <div class="col-md-4 d-flex align-items-center">
            <img src="/images/logo.png" alt="Logo" class="img-size-fixed me-2">
            <span class="navbar-brand mb-0">SeyCodes</span>
        </div>
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4 text-end">
            <% if (user) { %>
                <a href="/profile" class="navbar-text-custom">
                    Hi <%= user.username %>
                </a>
                <a href="/logout"><button type="button" class="btn btn-warning">Logout</button></a>
            <% } else { %>
                <a href="/login"><button type="button" class="btn btn-success">Login</button></a>
            <% } %>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Learn
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/linkedlists">Linked List</a></li>
                        <li><a class="dropdown-item" href="/trees">Trees</a></li>
                        <li><a class="dropdown-item" href="/queues">Queues</a></li>
                        <li><a class="dropdown-item" href="/stacks">Stacks</a></li>
                        <li><a class="dropdown-item" href="/arrays">Arrays</a></li>
                        <li><a class="dropdown-item" href="/graphs">Graphs</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/problemset">Problem Set</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/discussion">Discussion</a>
                </li>
                <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/editor">Code Editor</a>
                    </li>
                <% } %>
                <% if (!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
