<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<body>
  <%- include('../partials/navbar') %>
  <div class="container py-5">
    <h1 class="mb-4">About Us</h1>
    <div class="row">
        <div class="col-lg-12">
            <h2>Who We Are</h2>
            <p>Welcome to SeyCodes, where coding meets creativity and efficiency. We are a dynamic team of developers, educators, and technology enthusiasts with a shared passion for making complex programming concepts accessible and enjoyable for everyone.</p>
            
            <h2>Our Mission</h2>
            <p>Our mission is straightforward: to provide high-quality, interactive, and user-friendly educational content that simplifies the complexities of data structures and algorithms. We aim to equip our users with the tools they need to succeed in their coding interviews, academic pursuits, and professional careers, all while nurturing a love for problem-solving and innovation.</p>
            
            <h2>What We Offer</h2>
            <p>At SeyCodes, we believe that the best way to learn is by doing. That’s why our platform is packed with a variety of features designed to enhance your learning experience, including:</p>
            <ul>
                <li>Interactive Coding Challenges: Test your skills with real-time feedback and step-by-step solutions to ensure you’re on the right track.</li>
                <li>In-depth Tutorials and Guides: Learn at your own pace with our comprehensive tutorials that cover everything from basic concepts to advanced algorithms.</li>
                <li>Expert Support: Get guidance and support from our team of seasoned developers and educators who are just as passionate about coding as you are.</li>
            </ul>
        </div>
    </div>
</div>
  <%- include('../partials/footer') %>

</body>
</html>
