<html>
<head>
  <%- include('../partials/header') %>
</head>
<body>
  <%- include('../partials/navbar') %>
  <div id="intro" class="bg-secondary text-white p-5 d-flex flex-column align-items-center justify-content-center text-center"> 
    <span class="h2">SeyCodes</span> 
    <div class="mt-3">
      Unlock the Power of Code: Master Data Structures and Algorithms with SeyCodes
    </div>
  </div>
  
  <div class="p-5 text-center">
    <span class="h4">Behold! The beauty of Algorithms</span><br><br>
    <div class="text-justify">
      Here are some of the interesting algorithms that will keep you engaged!
    </div>
  </div>
  
  <div class="container">
    <div class="row my-4">
      <div class="col-md-6 text-center">
        <h3>Sorting Algorithms</h3>
        <canvas id="animationCanvas" width="300" height="400"></canvas>
      </div>
      <div class="col-md-6 text-center">
        <h3>Drag the circles (Force Directed Graphs)</h3>
        <svg width="1000" height="1400"></svg>
      </div>
    </div>
  </div>
  
  <%- include('../partials/footer') %>
  
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="scripts/visualiser.js"></script>

</body>
</html>

